{% extends '../layout.html' %}

{% block head %}
{% parent %}
<!--STYLE_PLACEHOLDER-->
{% endblock %}

{% block content %}
{% include "../partial/header.html" %}
<section class="intro text-center section-padding" id="intro">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wp1">
                <h1 class="arrow">平台介绍</h1>
                <p class="intro-desc">万维智能体育馆运营管理平台是北京万维科技股份有限公司开发的一套用于羽毛球馆、体育馆、网球场、游泳池等体育场馆的专业优秀的收费管理系统。该系统基于移动互联网，通过独特的B2B2C商业模式，结合国内先进的管理思想和管理方法，历经3年开发而成。集POS收银收费管理，场地租金分时段分场地计费管理，场地预订，会员管理，短信预定管理、灯光控制、语音交互等强大功能为一身。能够有效的杜绝管理上的漏洞，使客户和经营者的联系更加紧密减少客户的流失，大幅度降低管理工作的工作量, 降低服务员的劳动强度节约成本，使您的经营管理变得轻松简单。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="intro-wrapper">
                    <div class="col-md-4 wp2">
                        <a href="/cms/CMSVideoProduct" target="_blank">
                            <div class="icon">
                                <i class="fa fa-laptop shadow"></i>
                            </div>
                        </a>
                        <h2>网页端</h2>
                    </div>
                    <div class="col-md-4 wp2 delay-05s">
                        <div class="icon">
                            <i class="fa fa-comments shadow"></i>
                        </div>
                        <h2>微信端</h2>
                    </div>
                    <div class="col-md-4 wp2 delay-1s">
                        <div class="icon">
                            <i class="fa fa-mobile shadow"></i>
                        </div>
                        <h2>移动端</h2>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio text-center section-padding" id="portfolio">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wp1">
                <h1 class="arrow">功能模块</h1>
                <p class="responsive-desc">万维智能体育馆运营管理平台是一套全面综合型的管理系统平台，因此我们是通过一套软件实现其他公司需要游泳馆软件、羽毛球软件、网球软件、高尔夫软件、滑雪场软件等多个软件才能实现的功能，但为方便客户搜索查看我们在网站宣传时将其划分为多个名称。当您需要详细资料、特点介绍以及报价时您可以随时向我们的销售咨询人员索取。</p>
            </div>
        </div>
        <div class="row">
            <div id="portfolioSlider" style="position: relative;">
                <ul class="slides">
                    <li>
                        <div class="col-md-4 wp4">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="/public/images/example/13815232895411.jpg" alt="游泳馆智能化管理系统">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>游泳馆智能化管理系统</h2>
                            <p>“在某种程度上，客户在网上预订节省下来的时间使得我们的员工有更多的时间来和客户谈论高尔夫运动，推荐他们采购运动用品，获取他们的诉求，提升客户粘性。”——约翰·雷曼 北岛高尔夫俱乐部经理，北温哥华区</p>
                        </div>
                        <div class="col-md-4 wp4 delay-05s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="/public/images/example/13815235308563.jpg" alt="羽毛球馆智能化管理系统">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>羽毛球馆智能化管理系统</h2>
                            <p>“在某种程度上，客户在网上预订节省下来的时间使得我们的员工有更多的时间来和客户谈论高尔夫运动，推荐他们采购运动用品，获取他们的诉求，提升客户粘性。”——约翰·雷曼 北岛高尔夫俱乐部经理，北温哥华区</p>
                        </div>
                        <div class="col-md-4 wp4 delay-1s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="/public/images/example/13815237915793.jpg" alt="乒乓球馆智能化管理系统">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>乒乓球馆智能化管理系统</h2>
                            <p>“在某种程度上，客户在网上预订节省下来的时间使得我们的员工有更多的时间来和客户谈论高尔夫运动，推荐他们采购运动用品，获取他们的诉求，提升客户粘性。”——约翰·雷曼 北岛高尔夫俱乐部经理，北温哥华区</p>
                        </div>
                    </li>
                    <li>
                        <div class="col-md-4 wp4">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="/public/images/example/13815232895411.jpg" alt="游泳馆智能化管理系统">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>游泳馆智能化管理系统</h2>
                            <p>“在某种程度上，客户在网上预订节省下来的时间使得我们的员工有更多的时间来和客户谈论高尔夫运动，推荐他们采购运动用品，获取他们的诉求，提升客户粘性。”——约翰·雷曼 北岛高尔夫俱乐部经理，北温哥华区</p>
                        </div>
                        <div class="col-md-4 wp4 delay-05s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="/public/images/example/13815235308563.jpg" alt="羽毛球馆智能化管理系统">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>羽毛球馆智能化管理系统</h2>
                            <p>“在某种程度上，客户在网上预订节省下来的时间使得我们的员工有更多的时间来和客户谈论高尔夫运动，推荐他们采购运动用品，获取他们的诉求，提升客户粘性。”——约翰·雷曼 北岛高尔夫俱乐部经理，北温哥华区</p>
                        </div>
                        <div class="col-md-4 wp4 delay-1s">
                            <div class="overlay-effect effects clearfix">
                                <div class="img">
                                    <img src="/public/images/example/13815237915793.jpg" alt="乒乓球馆智能化管理系统">
                                    <div class="overlay">
                                        <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                                        <a class="close-overlay hidden">x</a>
                                    </div>
                                </div>
                            </div>
                            <h2>乒乓球馆智能化管理系统</h2>
                            <p>“在某种程度上，客户在网上预订节省下来的时间使得我们的员工有更多的时间来和客户谈论高尔夫运动，推荐他们采购运动用品，获取他们的诉求，提升客户粘性。”——约翰·雷曼 北岛高尔夫俱乐部经理，北温哥华区</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="responsive text-center section-padding" id="responsive">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 wp1">
                <h1 class="arrow">合作场馆</h1>
                <p class="responsive-desc">万维智能体育馆运营管理平台是北京万维科技股份有限公司开发的一套用于羽毛球馆、体育馆、网球场、游泳池等体育场馆的专业优秀的收费管理系统。该系统基于移动互联网，通过独特的B2B2C商业模式，结合国内先进的管理思想和管理方法，历经3年开发而成。集POS收银收费管理，场地租金分时段分场地计费管理，场地预订，会员管理，短信预定管理、灯光控制、语音交互等强大功能为一身。能够有效的杜绝管理上的漏洞，使客户和经营者的联系更加紧密减少客户的流失，大幅度降低管理工作的工作量, 降低服务员的劳动强度节约成本，使您的经营管理变得轻松简单。</p>
            </div>
        </div>
        <div class="row responsive-item">
            <div class="col-md-6 wp1 responsive-img">
                <img src="/public/images/example/Case_photo_one.jpg" alt="北京平谷区体育中心">
            </div>
            <div class="col-md-6">
                <h1>北京平谷区体育中心</h1>
                <p class="responsive-desc">2007年5月，经过两个月的紧张施工，平谷体育中心一期工程全部竣工并以投入使用。该中心一期工 程总投资8900万元，占地161亩，总建筑面积11500平方米，主要包括体育场，运动员综合楼，系列 室外球类活动场地以及全民健身广场等体育场馆设施，场馆可容纳4387名观众，总投资2.2亿元，建 筑面积达2万平方米的二期工程竣工并投入使用。场内配有标准游泳馆、多功能综合馆、训练馆、体 育接待中心、四星级综合配套楼和室外各类训练场为一体的区县级一流体育馆。</p>
            </div>
        </div>
        <div class="row responsive-item">
            <div class="col-md-6">
                <h1>北京用友波力体育馆</h1>
                <p class="responsive-desc">用友波力体育馆，坐落于用友软件园内，建设总投资两千万以上，场馆建筑总面积达3000平米。作为 一家大型综合性体育场馆，包括有室内篮球馆、羽毛球馆、网球场、台球厅等各类场馆，可满足体育 爱好者的多种运动需求，并通过周到贴心的服务给消费者以尊享体验。 自成立以来，用友波力以保障运动爱好者基本健身锻炼，运动队训练和举办高质量体育活动为工作重 点，以服务第一和规范化管理为工作理念，坚持以人为本、科学管理，合理使用和优化配置场地资源 实现经济效益与社会效益的双赢。 我馆积极响应国家有关全民健身的号召，愿尽全力助力大众体育的快速发展。为此，用友波力利用自 身场地资源，积极策划、组织各类体育活动、赛事，形式多种多样，深受广大体育参与者的热捧。</p>
            </div>
            <div class="col-md-6 wp7 responsive-img">
                <img src="/public/images/example/Case_photo_two.jpg" alt="北京用友波力体育馆">
            </div>
        </div>
        <div class="row responsive-item">
            <div class="col-md-6 wp1 responsive-img">
                <img src="/public/images/example/Case_photo_three.jpg" alt="天津泰丰27度游泳馆">
            </div>
            <div class="col-md-6">
                <h1>天津泰丰27度游泳馆</h1>
                <p class="responsive-desc">泰丰27℃游泳俱乐部由天津奥林匹克游泳馆建设工程有限公司承建，其公司有着26年泳池施工经验， 并承接过各种国际比赛场馆的承建工作。泳池和戏水池都采用了逆流的循环方式和先进的水处理循环 设备，并配备有臭氧消毒系统投加长效氯辅助消毒，保证水质清澈透亮，池水的浊度<1NTU。完全能 达到国际泳联要求的水质。 游泳俱乐部坐落在繁华的泰丰公园商业街，是人们夏日锻炼、休闲、亲水 的好去处，场馆内装饰豪华舒适，设有标准的25X12X1.8米训练池一座，戏水池一座。可以合适各组 各性的人群和团体的需要。 泰丰27℃游泳馆位于原泰丰游泳馆，经重新装修，器材重装后，环境高档，为顾客打造一个优质的健 身环境。</p>
            </div>
        </div>
        <div class="row responsive-item">
            <div class="col-md-6">
                <h1>济南平阴全民健身中心</h1>
                <p class="responsive-desc">全民健身中心规划占地124.95亩，其中：体育馆、看台、运动场地占地97.9亩；东部健身广场占地 26.69亩。体育馆及看台总建筑面积1.4万平方米。规划设计体育馆3000座，建筑面积7483.4平方米； 田径场看台5000座，建筑面积6875.12平方米，400米标准田径场与平阴县实验学校合用。东部健身 广场及田径场看台西侧建设了羽毛球场、门球场、乒乓球和健身舞区、轮滑区等健身设施。该中心建 成后，将为全县广大群众提供一处健身、娱乐为一体的活动场所，进一步推动全县群众体育运动、竞 技体育的全面发展，丰富全县人民群众的物质精神文化生活，提高城区居民生活质量。</p>
            </div>
            <div class="col-md-6 wp7 responsive-img">
                <img src="/public/images/example/Case_photo_four.jpg" alt="济南平阴全民健身中心">
            </div>
        </div>
    </div>
</section>
<section class="team text-center section-padding" id="team">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">公司团队</h1>
            </div>
        </div>
        <div class="row">
            <div class="team-wrapper">
                <div id="teamSlider" style="position: relative">
                    <ul class="slides">
                        <li>
                            <div class="col-md-4 wp5">
                                <img src="/public/images/example/team-01.png" alt="Team Member">
                                <h2>李洪旭</h2>
                                <p>从容自信——生存之源  欧洲大陆曾经的王者拿破仑说，要生存只有靠自己；诗学领域的王者李白说，天生我材必有用。作为成功者，首先要做到的是自信。要想在高手云集的竞争者中脱颖而出，只有自信才能生存，只有生存下来才有可能成为成功者。正是因为自信，我们每一个人一路走来，由小到大，由弱变强；世界500强的诞生正是因为自信。</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4 wp5 delay-05s">
                                <img src="/public/images/example/team-03.png" alt="Team Member">
                                <h2>栾宝石</h2>
                                <p>从容自信——生存之源  欧洲大陆曾经的王者拿破仑说，要生存只有靠自己；诗学领域的王者李白说，天生我材必有用。作为成功者，首先要做到的是自信。要想在高手云集的竞争者中脱颖而出，只有自信才能生存，只有生存下来才有可能成为成功者。正是因为自信，我们每一个人一路走来，由小到大，由弱变强；世界500强的诞生正是因为自信。</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-1s">
                                <img src="/public/images/example/team-03.png" alt="Team Member">
                                <h2>刘少川</h2>
                                <p>从容自信——生存之源  欧洲大陆曾经的王者拿破仑说，要生存只有靠自己；诗学领域的王者李白说，天生我材必有用。作为成功者，首先要做到的是自信。要想在高手云集的竞争者中脱颖而出，只有自信才能生存，只有生存下来才有可能成为成功者。正是因为自信，我们每一个人一路走来，由小到大，由弱变强；世界500强的诞生正是因为自信。</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-4 wp5">
                                <img src="/public/images/example/team-01.png" alt="Team Member">
                                <h2>陈刚</h2>
                                <p>从容自信——生存之源  欧洲大陆曾经的王者拿破仑说，要生存只有靠自己；诗学领域的王者李白说，天生我材必有用。作为成功者，首先要做到的是自信。要想在高手云集的竞争者中脱颖而出，只有自信才能生存，只有生存下来才有可能成为成功者。正是因为自信，我们每一个人一路走来，由小到大，由弱变强；世界500强的诞生正是因为自信。</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-05s">
                                <img src="/public/images/example/team-03.png" alt="Team Member">
                                <h2>王军</h2>
                                <p>从容自信——生存之源  欧洲大陆曾经的王者拿破仑说，要生存只有靠自己；诗学领域的王者李白说，天生我材必有用。作为成功者，首先要做到的是自信。要想在高手云集的竞争者中脱颖而出，只有自信才能生存，只有生存下来才有可能成为成功者。正是因为自信，我们每一个人一路走来，由小到大，由弱变强；世界500强的诞生正是因为自信。</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 wp5 delay-1s">
                                <img src="/public/images/example/team-03.png" alt="Team Member">
                                <h2>Jamie</h2>
                                <p>从容自信——生存之源  欧洲大陆曾经的王者拿破仑说，要生存只有靠自己；诗学领域的王者李白说，天生我材必有用。作为成功者，首先要做到的是自信。要想在高手云集的竞争者中脱颖而出，只有自信才能生存，只有生存下来才有可能成为成功者。正是因为自信，我们每一个人一路走来，由小到大，由弱变强；世界500强的诞生正是因为自信。</p>
                                <div class="social">
                                    <ul class="social-buttons">
                                        <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center section-padding contact-wrap" id="contact">
    <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">联系我们</h1>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><i class="fa fa-map-marker"></i><span>公司地址</span></h2>
                    <p>北京市海淀区某某街道某某大厦某层某室</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><i class="fa fa-mobile"></i><span>手机</span></h2>
                    <p>(+86)11005200728</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="light-box box-hover">
                    <h2><i class="fa fa-paper-plane"></i><span>邮箱</span></h2>
                    <p><a href="#">wanwei.sports@wanwei.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "../partial/footer.html" %}
{% endblock %}

{% block scripts %}
{% parent %}
<!--SCRIPT_PLACEHOLDER-->
{% endblock %}
