{% include "../partial/nav.html" %}

<section class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="javascript:;"><span></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
                <h1 class="animated fadeInDown">万维(WAN WEI)<span>智能体育馆运营管理平台</span></h1>
                <p class="animated fadeInUp delay-05s">万维体育，让体育场馆牵手互联网平台，专注于体育场馆自运营，提供一站式解决方案。</p>
            </div>
        </div>
    </div>
</section>