<!-- 应用导航 -->
<nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <nav class="pull">
                    <ul class="top-nav">
                        <li>
                            <a href="#intro">平台介绍 <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                        </li>
                        <li>
                            <a href="#portfolio">功能模块 <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                        </li>
                        <li>
                            <a href="#responsive">合作场馆 <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                        </li>
                        <li>
                            <a href="#team">公司团队 <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                        </li>
                        <li>
                            <a href="#contact">联系我们 <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</nav>
